# Editor directories
.vscode/

# Compile and runtime directories
sysroot/
logs/
kernel/bin/
kernel/build/
tools/initrd_gen/initrd_gen

# Compile and runtime files
luhos.iso
luhos.img
*.elf
*.note
*.img
